@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

/* Global stuff */
body {
	margin: 0;
	min-width: 52em;
	font-family: 'Lato', sans-serif;
	background-color: whitesmoke;
}

header {
	background-color: rgba(21, 28, 35, .9);
	background-color: #2C3239;
	color: white;
}
	header h1 {
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		
		text-align: center;
	}
	header h2 {
		display: inline-block;
	}
	header a, header a:link, header a:visited {
		text-decoration: none;
	}

/* Navbar */
.index {
	display: -webkit-box;
	display: flex;
	text-align: center;
}
	.index * {
		display: block;
		-webkit-box-flex: 1;
		flex: 1 1 5em;
		
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 0.85em;
		
		color: gainsboro;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}
	.index *:first-child {
		border-width: 1px 1px 1px 1px;
	}
	.index a:hover {
		color: white;
	}
	.index a.active:hover {
		color: black;
	}
	.index * + * {
	/*
		border-left: 1px solid grey;
		*/
	}
	.index .active {
		color: black;
		background-color: whitesmoke;
	}

/* Article */
article {
	overflow: auto;
	padding: 1em;
	
	width: 75%;
	margin: auto;
}
	article h1 {
		font-variant: small-caps;
		text-align: center;
		font-size: 2em;
	}
	article > h2 {
		text-align: center;
	}

.quote {
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
}

section {
	clear: both;
	overflow: auto;
}

/* Figures and images */
figure {
	margin: 0;
	width: 270px;
	
	/*
	background-color: rgba(47,79,79, 0.05);
	padding: 0.5em;
	border-radius: 5px;
	*/
}
	figure.small {
		width: 200px;
	}
	figure.big {
		width: 50%;
	}
	figure img {
		width: 100%;
		height: auto;
		margin-bottom: 0.5em;
	}

figcaption {
	font-size: 0.8em;
}

.float_left {
	float: left;
	clear: both;
	margin-right: 1em;
	margin-bottom: 1em;
}

.float_right {
	float: right;
	clear: both;
	margin-left: 1em;
	margin-bottom: 1em;
}

.image_group {
	display: flex;
}

.image_group > * ~ figure {
	margin-left: 0.5em;
}

/* Footer */
footer {
	text-align: right;
	padding-top: 1em;
	padding-bottom: 1em;
	
	width: 75%;
	margin: auto;
	
	font-size: 0.8em;
	color: dimgray;
}
	footer .footer_text {
		display: flex;
		justify-content: space-between;
	}
	footer .footer_text .links a {
		text-decoration: none;
		
		display: inline-block;
		margin-right: 1em;
		
		color: dimgray;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}
	footer .footer_text .links a:hover {
		color: black;
	}
	footer hr {
		opacity: 0.3;
	}
