@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

/* Global stuff */
body {
	min-width: 52em;
	font-family: 'Lato', sans-serif;
		
	padding-left: 10em;
	padding-right: 10em;
}

a, a:link, a:visited {
	text-decoration: none;
	color: black;
}

/* Header */
header {
	background-color: white;
	color:black;
}
	header a, header a:link, header a:visited {
		color: black;
	}

/* Title */
.title {
	margin-bottom: 0.5em;
}
	.title h1{
		display: inline;
		padding-right: 0.3em;
	}
	.title img {
		height: 100%;
	}

/* Navbar */
.index {
	display: -webkit-box;
	display: flex;
	text-align: center;
}
	.index * {
		display: block;
		-webkit-box-flex: 1;
		flex: 1 1 5em;
		font-size: 0.85em;
		
		border-width: 1px 1px 1px 0px;
		border-style: solid;
		border-color: black;
	}
	.index *:first-child {
		border-width: 1px 1px 1px 1px;
	}
	.index .active {
		background-color: orangered;
		color: white;
	}
	.index a:hover {
		background-color: orangered;
		color: white;
	}

/* Article */
article {
	overflow: auto;
	padding: 1em;

}
	article h1 {
		font-variant: small-caps;
		text-align: center;
		font-size: 2em;
	}
	article > h2 {
		text-align: center;
	}
	article .front_page_img {
		width: 100%;
		height: auto;
	}

.quote {
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
}

section {
	clear: both;
	overflow: auto;
}

/* Figures and images */
figure {
	width: 300px;
	margin: 0;
}
	figure img {
		width: 100%;
		height: auto;
		margin-bottom: 0.5em;
	}

figcaption {
	font-size: 0.8em;
}

.float_left {
	float: left;
	clear: both;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.float_right {
	float: right;
	clear: both;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.image_group {
	display: -webkit-box;
	display: flex;
}

.image_group > * ~ figure {
	margin-left: 0.5em;
}

/* Footer */
footer {
	text-align: center;
	padding: 1em;
}
